.taskCardContainer{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 2rem;
}
.card{
    flex: 1;
    background-color: #dde6ed;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    transition: 0.5s ease-in-out;
}
.card:hover{
    transform: scale(1.04);
    cursor: pointer;
}
.cardCover{
    background-color: #fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: #535353;
}
.cardTitle{
    background-color: #ffffc0;
    width: 100%;
    text-align: center ;
    padding: 10px 0;
    font-size: 14px;
    color: #526d82;
    border-radius: 10px;
}