.dashboard {
    display: flex;
    gap: 20px;
    background-color: #628B48;
}
.dashboardContent{
    background-color: #f2f6ff;
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    margin: 2rem;
}